---
title: "Home"
layout: "content.njk"
tags: ["pages", "footer"]
hero: We’re Clean, but we get our hands dirty.
collection: home-page
button:
  url: /projecten
  text: Our projects

display: ["Image 1_2.png", "Image 2_2.png"]

---

{% import "components/general.njk" as component %}

{% include "partials/image-display.njk" %}
<div class="news">

  <div class="cards">
    <h2 class="news__title display-sans">Read our latest news</h2>
    {% for blog in collections[collection] %}

      {{ component.card(blog.data.title, blog.data.description, blog.data.image, blog.url) }}

    {% endfor %}
    <div class="news__button">{{ component.button("/blog", "Read our blog")}}</div>
  </div>

</div>